streamlit
pandas
google-cloud-bigquery
google-cloud-storage
google-auth
google-auth-oauthlib
google-cloud
google-cloud-core
python-dotenv
google-auth-oauthlib
google-cloud-bigquery-storage
hashlib
datetime
